<div class="w-full max-w-xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
  <div class="px-6 py-4 bg-gray-50 border-b border-gray-200">
    <h2 class="text-xl font-semibold text-center text-gray-800">Add Match Result</h2>
  </div>
  <%= form_with(model: @match_history, local: true, class: "px-6 py-4 space-y-6") do |form| %>
    <span><%= @match_history.errors.full_messages %></span>
    <div class="grid grid-cols-[1fr,auto,1fr] items-center gap-4" data-controller="match-history">
      <!-- Player A Selection -->
      <div class="space-y-2">
        <%= form.select :first_player_id, 
            User.all.collect { |p| [p.name, p.id] }, 
            { }, 
            {
              class: "w-full px-3 py-2 text-gray-700 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 select2",
              data: { "match-history-target" => "firstPlayerSelect", "action" => "change->match-history#updateDisabledOption" }
            }
        %>
        <%= form.number_field :first_player_points, 
            placeholder: "Points", 
            min: 0, 
            class: "w-full px-3 py-2 mt-2 text-gray-700 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600"
        %>
      </div>
      <!-- VS Divider -->
      <div class="text-xl font-semibold self-start mt-2 text-gray-600">VS</div>
      <!-- Player B Selection -->
      <div class="space-y-2">
        <%= form.select :second_player_id, 
            User.all.collect { |p| [p.name, p.id] }, 
            { }, 
            {
              class: "w-full px-3 py-2 text-gray-700 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 select2",
              data: { "match-history-target" => "secondPlayerSelect", "action" => "change->match-history#updateDisabledOption" }
            }
        %>
        <%= form.number_field :second_player_points, 
            {
              placeholder: "Points", 
              min: 0, 
              class: "w-full px-3 py-2 mt-2 text-gray-700 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600" 
            }
        %>
      </div>
    </div>
    <%= form.submit "Submit Result", 
        class: "w-full px-4 py-2 mt-6 font-semibold text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50" 
    %>
  <% end %>
</div>