<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Elo:</strong>
    <%= user.elo %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Win streak:</strong>
    <%= user.win_streak %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total match:</strong>
    <%= user.total_match %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Total win match:</strong>
    <%= user.total_win_match %>
  </p>

</div>
